// Colors
$myGreen: #83AF9B;
$myPink: #FE4365;
$brick: #D95B43;

// Index page
.index {
	background: url(./bg.png);

	&.overlay-opened {
		background: url(./bg_blur.jpg);
	}

	.billboard {
		display: table;
		position: relative;
		height: 45vh;
		margin: 10vh auto 0 auto;

		&--row {
			display: table;
			padding: 2rem;
			font-size: 6rem;
			color: #FFF;
			background: $myGreen;
			margin: 0 auto 5rem auto;

			&__green {
				background: $myGreen;

				&.routeTip {
					font-size: 1.8rem;
					padding: 0.8rem;
					position: absolute;
					bottom: 1rem;
					right: 0;
					margin: 0;
				}
			}

			&__pink {
				background: $myPink;
				transform: rotate(5deg);
			}

			&__brick {
				background: $brick;
				transform: rotate(-5deg);
			}

		}
	}

	.ribbon {
		display: table;
		padding: 5rem 2rem;
		width: 100%;
		background: white;

		div {
			display: table-cell;
			vertical-align: middle;
			visibility: hidden;
		}

		&.show div {
			visibility: visible;
		}

		p {
			color: black;
			text-align: center;
			font-weight: bold;

			&:first-child {
				font-size: 6.2rem;
				margin: 0 0 2rem;
			}

			&:last-child {
				font-size: 2.2rem;
			}
		}
	}

	.whatsnew {
		width: 100%;
		margin: 3rem 0 7rem 0;

		.newItem {
			background: $brick;
			padding: 1rem;
			color: #FFF;
			margin: 0 2rem;

			a {
				color: #2d2d2d;
			}

			h2 {
				font-size: 2rem;
			}
			ul {
				list-style: disc;
				margin-left: 1.8rem;

				@media screen and (max-width: 700px) {
					margin-left: 2.2rem;
				}


				li {
					@media screen and (max-width: 700px) {
						font-size: 2rem;
					}
				}
			}
		}

		.heart {
			width: 10px;
			fill: pink;
			margin: 0 3px;
			animation: pulse 1s ease infinite;
		}

		.slick-arrow {
			position: absolute;
			z-index: 5;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			border: 0;
			padding: 1.5rem;
			background: #008CBA;
			color: white;
			font-size: 1.6rem;
			cursor: pointer;
		}

		.slick-prev {
			left: 1rem;
		}
		.slick-next {
			right: 1rem;
		}
	}

	.info {
		position: absolute;
		right: 0;
		top: 0;
		padding: 1rem;
		color: #FFF;
		background: $myPink;
	}

	.github {
		bottom: 0;
		left: 0;
		position: absolute;

		img {
			height: 40px;
		}
	}
}

$hamburger-size: 5rem;

#hamburger {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	background: #FFF;
	display: inline-block;
	padding: .5rem;

	a {
		display: block;
		position: relative;
		width: 3rem;
		height: 3rem;

		@media screen and (max-width: 700px) {
			width: $hamburger-size;
			height: $hamburger-size;
		}

	}
	img {
		width: 100%;
		height: 100%;
	}
}

// Menu
nav {
	transform: translateX(-100%);
	z-index: 4;
	position: absolute;
	background: $myGreen;
	width: 30rem;
	max-width: 80vw;

	&.open {
		transform: translateX(0);

		& + #hamburger {
			background: $myGreen;
		}
	}

	ul {
		width: 100%;
		margin-top: $hamburger-size;

		li {
			position: relative;
			font-size: 2rem;
			height: 4rem;
			line-height: 4rem;
			border-bottom: #5f8272 solid 1px;
			overflow: hidden;
			transition: max-height 0.6s;

			@media screen and (max-width: 700px) {
				font-size: 3rem;
				height: 6rem;
				line-height: 6rem;
			}

			a {
				padding-left: 2rem;
				display: block;
				text-decoration: none;
				color: #FFF;
			}

			&.head {
				&:after {
					position: absolute;
					right: 1rem;
					top: 0;
					content: '+';
				}
			}
			&:not(.head) {
				background: darken($myGreen, 20%);
				max-height: 0;
			}

			&.show {
				height: auto!important;
				max-height: 50px;
			}
			&:not(.head):not(.show) {
				border:none;
			}

			.lang {
				position: absolute;
				right: 1rem;
				top: .5rem;
				line-height: 0;
				padding: 0.3px;
				background: none; // Can be changed later

				img {
					display: inline-block;
					width: 25px!important;
				}
			}
		}
	}
}

.overlay {
	display: none;
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(#000, 0.8);

	&.show {
		display: block;


		+ .container {
			filter: blur(5px);

			& + .overlay {
				display: block;
			}
		}
	}
}
@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.3); }
	100% { transform: scale(1); }
}