<span class="clock">
    <span class="digit"></span>
    <span class="digit"></span>

    <span class="colon"></span>

    <span class="digit"></span>
    <span class="digit"></span>

    <span class="colon"></span>

    <span class="digit"></span>
    <span class="digit"></span>
</span>